
mdgp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

mdgp.xcodeproj/project.xcworkspace/xcuserdata/ricardopereira.xcuserdatad/UserInterfaceState.xcuserstate

mdgp.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/mdgp.xcscheme

mdgp.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/xcschememanagement.plist

mdgp/mdgp.1

mdgp.xcodeproj/project.xcworkspace/xcshareddata/mdgp.xccheckout

mdgp.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

mdgp.xcodeproj/project.xcworkspace/xcuserdata/goncaloserrano.xcuserdatad/UserInterfaceState.xcuserstate

mdgp.xcodeproj/xcuserdata/goncaloserrano.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
