
mdgp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

mdgp.xcodeproj/project.xcworkspace/xcuserdata/ricardopereira.xcuserdatad/UserInterfaceState.xcuserstate

mdgp.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/mdgp.xcscheme

mdgp.xcodeproj/xcuserdata/ricardopereira.xcuserdatad/xcschemes/xcschememanagement.plist

mdgp/mdgp.1
